django
djangorestframework
requests
pillow
channels 
channels[daphne]
websockets
tkcalendar
# mysqlclient





# daphne run commands (only in command prompt)
## run after activating the virtual environment
# first:  set DJANGO_SETTINGS_MODULE=k_collab.settings  # set the settings module
# second: daphne k_collab.asgi:application --bind 0.0.0.0 --port 8000  # run the server